body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  
  width:35vw;
  background-color: lightsteelblue;
  margin: 5px auto;
  padding-bottom: 10px;


}

.nav-bar
{

  background-color:lightsalmon;


}

.nav-bar>img{
  padding:4px 5px;
}

section{
  padding-left: 20px;
  margin-top: 10px;
}
.hero{
  display: flex;
  flex-direction: column;

}

.hero-img{

  max-width: 400px;
  align-self: center;
}

.hero-text{
  margin-top: -5px;
}


.cards-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: scroll; 
}

.card {
  display: flex;          
  flex-direction: column;
  width: 175px;
  font-size: 16px;
  position: relative;

}


.card-stats {
  display: flex;
 
}


.card-price {
  margin-top: -17px;
}

.card-badge{
  position: absolute;
  background-color: blueviolet;
  padding:2px 2px;
  font-weight: bold;
  top:5px;
  left:5px;
  border-radius: 4px;
}